.container {
    display: flex;
    height: 400px;
    background-color: grey;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    margin: 5px;
}