#box {
    width: 200px;
    height: 100px;
    background-color: blue;
}

#box1 {
    background-color: green;
    height: 100px;
    width: 100px;
    margin: 100px;
    padding: 50px;
    border: 1px solid red;
}

#box2 {
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 100px;
    padding: 30px;
    border: 10px solid red;
    box-sizing: border-box;
}

#box3 {
    background-color: orange;
    height: 100px;
    margin: 100px;
    width: 50%;
}