.container {
    width: 50%;
    height: 500px;
    border: 1px solid black;
    margin: 20px auto;
}

.box {
    height: 100px;
    width: 200px;
    background-color: orange;
}

.margin {
    margin: 20px;
}

.relative {
    position: relative;
    top: 10px;
    left: 10px;
}

.relative-container {
    position: relative;
}

.absolute {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.fixed {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

.sticky {
    position: sticky;
    top: 20px;
}